@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --gold: #b88e2f;
  --brown: #9f5a00;
  --cream: #fff3e3;
  --light: #f4f5f7;
  --dark: #242424;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: var(--dark);
  background: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}